.App {
  text-align: center;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 13fr 1fr;
  grid-template-areas:
    "header header"
    "topic  main"
    "footer footer";
}
.header {
  grid-area: header;
  color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: solid 2px green;
}
.topic {
  grid-area: topic;
  border: solid 2px red;
}
.main {
  grid-area: main;
  border: solid 2px yellow;
}
.footer {
  grid-area: footer;
  border: solid 2px blue;
}
