@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book'), url('GOTHAMBOOK.woff') format('woff');
}
.App {
  margin: 0;
  font-family: Gotham Book;
  text-align: center;
  height: 100vh;
  color: #0b0c0c;
  background: #ffffff;
  display: grid;
  grid-template-columns: 0fr 10fr;
  grid-template-rows: 106px 1fr;
  grid-template-areas:
    'header header'
    'topic  main';
}
button {
  background-color: inherit;
  border: none;
  font-weight: 600;
  font-family: Gotham Book;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*ba1f31 salmon*/
/*EDEDED light grey */
/*202829 dark grey */
.salmon {
  padding: 4px;
  margin-top: -16px;
  background-color: #ba1f31;
  color: #ffffff;
  align-self: flex-start;
}
.pressed {
  color: #ba1f31;
}
.salmon .pressed {
  color: white;
}
.header {
  grid-area: header;
  background-color: #202829;
  color: white;
  display: grid;
  grid-template-columns: 30px 3fr 2fr 2fr;
  grid-template-areas: '. title login NCNEWS';
  height: 106px;
}
@media only screen and (max-width: 600px) {
  .header {
    grid-template-columns: 30px 3fr 2fr;
    grid-template-areas: '. title login' '. title NCNEWS';
  }
  .title {
    font-size: 110%;
  }
  #title {
    height: 75px;
    width: 300px;
  }
  #body {
    height: 200px;
    width: 300px;
  }
  #topic {
    height: 20px;
    width: 140px;
  }
  #topicTitle {
    height: 200px;
    width: 300px;
  }
}
@media only screen and (min-width: 601px) {
  .title {
    position: relative;
    left: 10%;
    top: 3px;
  }
  .login {
    position: relative;
    top: 37px;
    height: 20px;
  }
}
.title {
  grid-area: title;

  justify-self: center;
  align-self: center;
}
.login {
  grid-area: login;
  justify-self: right;
  background-color: #ba1f31;
  color: white;
  margin: 5px;
  padding: 5px;
}
.NCNEWS {
  grid-area: NCNEWS;
  height: 10px;
  width: 130px;
  text-align: right;
  justify-self: right;
  position: relative;
  top: -5px;
  right: 5px;
}
.header button {
  color: white;
  font-weight: 500;
  border: solid 2px #2a3233;
  align-self: center;
}
.topic {
  grid-area: topic;
  overflow-y: scroll;
}
.topic ul {
  height: 100%;
}
.topic ul li {
  padding-top: 20px;
}
.topic ul li a {
  text-decoration-line: none;
  color: #ba1f31;
  font-weight: 600;
}
.main {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.articleCard {
  padding: 20px;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto 20px 15px;
  grid-template-areas:
    'cardTitle cardTitle'
    'cardAuthor cardVotes '
    'cardPublished cardPublished'
    'cardTopic cardComments';
  text-decoration: none;
  color: black;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
}
.article {
  overflow-y: scroll;
  padding: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-areas:
    'cardTitle cardTitle cardTitle'
    'cardAuthor . cardTopic'
    'cardPublished cardPublished cardPublished'
    'cardBody cardBody cardBody'
    'cardVotes delete cardComments'
    'comments comments comments';
  text-decoration: none;
  color: black;
}
.comments {
  grid-area: comments;
}
.cardTitle {
  background-color: #ba1f31;
  grid-area: cardTitle;
  color: white;
  font-weight: 500;
  margin-top: 0px;
  padding: 10px;
  align-self: start;
  justify-self: center;
  width: 100%;
}
.articleCard .cardTitle {
  position: relative;
}
.cardTopic {
  grid-area: cardTopic;
}
.articleCard .cardTopic {
  position: relative;
  text-align: left;
}
.cardAuthor {
  grid-area: cardAuthor;
}
.articleCard .cardAuthor {
  position: relative;
  top: -20px;
  text-align: left;
}
.cardPublished {
  grid-area: cardPublished;
  text-align: left;
}
.articleCard .cardPublished {
  position: relative;
  top: 3px;
}
.cardVotes {
  grid-area: cardVotes;
  position: relative;
}
.articleCard .cardVotes {
  position: relative;
  text-align: right;
  top: -5px;
}
.cardComments {
  grid-area: cardComments;
}
.articleCard .cardComments {
  text-align: right;
  position: relative;
}
.cardBody {
  grid-area: cardBody;
  text-align: start;
}
li {
  list-style: none;
}
.delete {
  grid-area: delete;
  background-color: #ba1f31;
  height: 25px;
  width: 140px;
}

.rotate {
  width: 45px;
  position: relative;
  right: 25px;
  transform: rotate(90deg);
}
.voter {
  display: grid;
  grid-template-columns: 80px 60px;
}

.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ba1f31;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: absolute;

  left: 80%;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ededed;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #202829;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #202829;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ededed;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 600px) {
}
.odd {
  background-color: lightgrey;
}
.even {
  background-color: #ffffff;
}
.textbox {
  width: 50%;
  height: 70px;
  resize: none;
  overflow-wrap: break-word;
  text-align: left;
  justify-content: start;
  align-content: start;
  word-wrap: break-word;
  word-break: break-all;
}
.Error {
  padding-top: 25%;
}
.profilePic {
  height: 100px;
  width: 100px;
}
.article a {
  font-weight: 800;
}

.commentCard {
  padding: 20px;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}
.commentCard .cardPublished {
  position: relative;
  justify-self: start;
}
.article .delete {
  background-color: #ba1f31;
}
.post {
  background-color: #ba1f31;

  width: 80px;
  margin-bottom: 20px;
}
.login a {
  color: white;
  text-decoration: none;
}
.userCard {
  margin-top: 20px;

  width: 200px;
  height: 200px;
}

.full {
  border: solid 2px red;
}
.userList h2 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

form {
  margin-top: 20px;
}
#title {
  font-size: 150%;
  font-family: Gotham book;
  height: 75px;
  width: 70%;
}
#body {
  font-size: 110%;
  font-family: Gotham book;
  height: 300px;
  width: 70%;
}
#topic {
  font-size: 110%;
  font-family: Gotham book;
  height: 20px;
  width: 220px;
}
#topicTitle {
  font-size: 150%;
  font-family: Gotham book;
  height: 60px;
  width: 70%;
}
