@font-face {
  font-family: GothamBook;
  src: url("/fonts/gothambook-webfont.woff") format("woff"),
    url("/fonts/gothambook-webfont.woff2") format("woff2")
      url("/fonts/gothambook-webfont.ttf") format("truetype");
}
.App {
  font-family: GothamBook;
  text-align: center;
  height: 100vh;
  color: #0b0c0c;
  background: #ffffff;
  display: grid;
  grid-template-columns: 0fr 10fr;
  grid-template-rows: 1fr 13fr;
  grid-template-areas:
    "header header"
    "topic  main";
}
/*ba1f31 salmon*/
/*EDEDED light grey */
/*202829 dark grey */

.header {
  grid-area: header;
  color: red;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  border: solid 2px green;
}
.topic {
  grid-area: topic;
  border: solid 2px red;
  overflow-y: scroll;
}
.main {
  grid-area: main;
  border: solid 2px yellow;
  overflow-y: scroll;
}
.articleCard {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    "cardTitle cardTitle cardTopic"
    "cardAuthor cardPublished ."
    "cardVotes . cardComments";
  border: solid 2px purple;
  text-decoration: none;
  color: black;
}
.article {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 6fr 1fr auto;
  grid-template-areas:
    "cardTitle cardTitle cardTitle"
    "cardAuthor cardPublished cardTopic"
    "cardBody cardBody cardBody"
    "cardVotes . cardComments"
    "comments comments comments";
  border: solid 2px purple;
  text-decoration: none;
  color: black;
  justify-content: stretch;
}
.comments {
  grid-area: comments;
  border: solid 2px gold;
}
.cardTitle {
  grid-area: cardTitle;
  border: solid 2px orange;
}
.cardTopic {
  grid-area: cardTopic;
  border: solid 2px pink;
}
.cardAuthor {
  grid-area: cardAuthor;
  border: solid 2px cyan;
}
.cardPublished {
  grid-area: cardPublished;
  border: solid 2px black;
}
.cardVotes {
  grid-area: cardVotes;
  border: solid 2px rgb(35, 88, 56);
}
.cardComments {
  grid-area: cardComments;
  border: solid 2px rgb(231, 228, 33);
}
.cardBody {
  grid-area: cardBody;
  border: solid 2px darkblue;
}
li {
  list-style: none;
}
.commentCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "cardAuthor cardPublished" "cardBody cardBody" "delete cardVotes";
}
.delete {
  grid-area: delete;
  border: solid 2px deeppink;
}

.rotate {
  transform: rotate(90deg);
}
.voter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;

  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: white;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
:visited {
  color: black;
}
@media only screen and (max-width: 600px) {
}
