@font-face {
  font-family: GothamBook;
  src: url("/src/fonts/gothambook-webfont.woff") format("woff"),
    url("/src/fonts/gothambook-webfont.woff2") format("woff2")
      url("/src/fonts/gothambook-webfont.ttf") format("truetype");
}
body {
  font-family: GothamBook;
  margin: 0;
}
